<h2>Confirm deletion</h2>

<mat-dialog-content>
    <p>
        Are you sure you want to delete {{data.user.name}} ?
    </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="button" mdbBtn color="" mdbWavesEffect mat-dialog-close>Cancel</button>
    <button type="button" mdbBtn color="danger" mdbWavesEffect [mat-dialog-close]="true">Delete</button>
</mat-dialog-actions>