<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. @gmail.com" #input>
</mat-form-field>

<mat-card *ngIf="isLoading" class="d-flex h-100 justify-content-center align-items-center table-loader position-fixed">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</mat-card>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
                <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="openEditUserDialog(row)"><mdb-icon fas icon="edit"></mdb-icon> Edit</button>
                <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="confirmDeleteDialog(row)"><mdb-icon fas icon="trash"></mdb-icon> Delete</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row text-center" *matNoDataRow>
            <td class="mat-cell" colspan="4">No records found.</td>
        </tr>
    </table>

    <mat-paginator 
        [length]="length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex" 
        [pageSizeOptions]="[100, 500, 1000]"
        (page)="changePage($event)"
    ></mat-paginator>
</div>