<h2>Edit</h2>

<form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <div class="md-form">
                    <!-- Name -->
                    <input mdbInput mdbValidate type="text" id="name" formControlName="name" class="form-control mb-4">
                    <label for="name">Name</label>

                    <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">Required</mdb-error>
                </div>
            </div>
            <div class="col-12">
                <div class="md-form">
                    <!-- Email -->
                    <input mdbInput mdbValidate type="email" id="email" formControlName="email" class="form-control mb-4">
                    <label for="email">Email</label>

                    <mdb-error *ngIf="email.invalid && !email.errors.uniqueEmail && (email.dirty || email.touched)">Invalid</mdb-error>
                    <mdb-error *ngIf="email.errors && email.errors.uniqueEmail && (email.dirty || email.touched)">Email is taken</mdb-error>
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button type="button" mdbBtn color="" mdbWavesEffect mat-dialog-close>Cancel</button>

        <button type="button" mdbBtn color="primary" mdbWavesEffect [mat-dialog-close]="true" type="submit" [disabled]="editUserForm.invalid || editUserForm.pending ? true : null">
            <div *ngIf="editUserForm.pending" class="spinner-border spinner-border-sm text-light" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            Update
        </button>
    </mat-dialog-actions>
</form>