<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <!-- Default form login -->
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-md-6 text-center border border-light p-5">
                <p class="h4 mb-4">Register</p>
    
                <div class="md-form">
                    <!-- Name -->
                    <input mdbInput mdbValidate type="text" id="name" formControlName="name" class="form-control mb-4">
                    <label for="name">Name</label>

                    <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">Required</mdb-error>
                </div>

                <div class="md-form">
                    <!-- Email -->
                    <input mdbInput mdbValidate type="email" id="email" formControlName="email" class="form-control mb-4">
                    <label for="email">Email</label>

                    <mdb-error *ngIf="email.invalid && !email.errors.uniqueEmail && (email.dirty || email.touched)">Invalid</mdb-error>
                    <mdb-error *ngIf="email.errors && email.errors.uniqueEmail && (email.dirty || email.touched)">Email is taken</mdb-error>
                </div>

                <div class="md-form">
                    <!-- Password -->
                    <input mdbInput mdbValidate type="password" id="password" formControlName="password" class="form-control mb-4">
                    <label for="password">Password</label>

                    <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Password not long enough, minimum 6 characters</mdb-error>
                </div>

                <div class="md-form">
                    <!-- Confirm password -->
                    <input mdbInput mdbValidate type="password" id="confirm-password" formControlName="confirmPassword" class="form-control mb-4">
                    <label for="confirm-password">Confirm password</label>


                    <mdb-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">Passwords don't match</mdb-error>
                </div>

                <!-- Register button -->
                <button mdbBtn mdbWavesEffect color="info" block="true" class="my-4" type="submit" [disabled]="registerForm.invalid ? true : null">Submit</button>
                <button mdbBtn mdbWavesEffect color="info" block="true" class="my-4" type="button" [routerLink]="['/']">Return to login</button>
        </form>
        <!-- Default form login -->
    </div>
</div>
