
<router-outlet *ngIf="!isLogged"></router-outlet>

<div *ngIf="isLogged" class="navbar-container" [class.navbar-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
        <a>
            <mdb-icon fas icon="bars" (click)="snav.toggle()"></mdb-icon>
        </a>

        <span class="navbar-spacer"></span>
        <button type="button" mdbBtn color="warning" mdbWavesEffect (click)="logout()"><mdb-icon fas icon="power-off"></mdb-icon> Logout</button>

    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [opened]="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="/dashboard"><mdb-icon fas icon="tachometer-alt"></mdb-icon> Dashboard</a>
                <a mat-list-item routerLink="/users"><mdb-icon fas icon="user"></mdb-icon> Users</a>
                <a mat-list-item routerLink="/companies"><mdb-icon fas icon="building"></mdb-icon> Companies</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="container-fluid p-3">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

