<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <!-- Default form login -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="col-md-6 text-center border border-light p-5">
            <p class="h4 mb-4">Sign in</p>
        
            <div *ngIf="failedLogin" class="alert alert-danger" role="alert">
                <i class="fa fa-exclamation-triangle"></i> Account does not exist!
            </div>
            <div class="md-form">
                <!-- Email -->
                <input mdbInput mdbValidate type="email" id="email" formControlName="email" class="form-control mb-4">
                <label for="email">Email</label>

                <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Invalid</mdb-error>
            </div>
        
            <div class="md-form">
                <!-- Password -->
                <input mdbInput mdbValidate type="password" id="password" formControlName="password" class="form-control mb-4">
                <label for="password">Password</label>
            </div>

            <div class="d-flex justify-content-around">
                <div>
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                </div>
            </div>
        
            <!-- Sign in button -->
            <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="loginForm.invalid ? true : null">Sign in</button>
        
            <!-- Register -->
            <p>Not a member?
                <a [routerLink]="['/register']">Register</a>
            </p>
        
        </form>
        <!-- Default form login -->
    </div>
</div>
